@media (max-width: 800px) {     /* ---Mobile view--- */

    /* Menu based on sample code for DATA1200: https://github.com/OsloMet-web/DATA1200code/tree/main */

    /* Container for the navigation menu */
    .nav-container {
        background-color: #b2d4da;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        width: auto;
        height: 40px;
        display: flex;
    }

    /* Navigation bar menu, hidden until toggled */
    .menu {
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: left;
        list-style-type: none;
        height: 200px;
        line-height: 1.6rem;
        padding-top: 0.5rem;
        margin-top: -10px;
        margin-bottom: 0px 
    }

    /* Burger-menu icon */
    .menu-icon {
        grid-row: 1;
        display: block;
        background-image: url(/img/burger-icon.png);  /* Menu-burger icon created by O.moonstd - Flaticon */
        background-size: cover;
        position: absolute;
        height: 40px;
        width: 40px;
    }

    /* Container for the menu toggle */
    .hamburger-toggle-container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 40px;
        margin-left: 0px;
        cursor: pointer;
        justify-content: center;
        align-items: left;
    }

    /* Hides the check-box for the menu */
    #burger-toggle {
        display: none;
    }

    /* Formating for list-elements inside the menu */
    .menu > li {
        display: flex;
        overflow: hidden;
    }

    /* Formating for list-elements inside the menu following the burger-toggle */
    #burger-toggle ~ .menu li{
        height: 0px;
        margin:  0px;
    }

    /* Formating for list items when burger menu is toggled */
    #burger-toggle:checked ~ .menu li {
        height: 1rem;
        margin: 0px;
        padding: 0.6rem;
        padding-right: 1rem;
        height: 1.4rem;
        font-size: 13.5px;
    }

    /* Small margin for mobile view */
    main {
        margin-left: 2rem;
    }

    /* Wrapper containing grid */
    .wrapper {
        display: grid;
        grid-template-columns: 85vw;
        grid-template-rows: auto, auto;
    }

    .image-right-topical {
        max-width: 80vw;
        grid-row: 2;
    }

    /* Formating for sources */
    .sources {
        grid-row: 2;
        font-size: 12px;
    }

    .text-heading-canteen {
        grid-row: 1;
        margin-left: 2rem;
    }

    .text-canteen-annas {
        grid-row: 2;
        margin-top: 2rem;
    }

    .text-canteen-olaf {
        grid-row: 4;
        margin-top: 4rem;
    }

    .text-canteen-kaffelars {
        grid-row: 6;
        margin-top: 4rem;
    }

    .image-canteen-annas {
        grid-row: 3;
    }

    .image-canteen-olaf {
        grid-row: 5;
    }

    .image-canteen-kaffelars {
        grid-row: 7;
    }

    .box-opening-hours {
        background-color: #b2d4da;
        padding-left: 10px;
        border-radius: 15px;
    }
    footer{
        background-color: #b2d4da;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        display: grid;
        grid-template-columns: 85vw;
        grid-template-rows: auto, auto;
        row-gap: 30px;
        
    }
    .footer-1st-content {
        grid-row: 1;
    }
    .footer-2nd-content {
        grid-row: 2;
    }
}

@media (min-width: 801px) {     /* ---Desktop view--- */ 

    /* Menu based on sample code for DATA1200: https://github.com/OsloMet-web/DATA1200code/tree/main */

    /* Navigation bar menu */
    .menu {                             
        background-color: #b2d4da;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 12vw;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        margin-top: 0px;
        margin-bottom: 0px
    }

    /* Padding for the listed items in the navigation bar */
    .menu > li {
        padding-right: 4rem;
    }

    /* Hides the check-box */
    #burger-toggle {
        display: none;
    }

    /* Background colour for the page */
    body {
        background-color: #c99e80;
        
    }

    /* Wrapper containing grid */
    .wrapper {
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(100px, auto);
        background-color: white;
        margin-left: 11vw;
        margin-right: 11vw;
        margin-top: 0px;
    }

    .text-topical { 
        grid-column: 1 / 6;
        grid-row: 1;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .text-topical-2 {
        grid-column: 1 / 6;
        grid-row: 2;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    /* Text-box for the accessibility page */
    .text-accessibility {
        grid-column: 1 / 6;
        grid-row: 1;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    /* Text-box for the homepage */
    .text-homepage {
        grid-column: 1 / 5;
        grid-row: 1;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .text-heading-canteen {
        grid-column: 1 / 9;
        grid-row: 1;
        margin-left: 2rem;
    }

    .text-canteen-annas {
        grid-column: 1 / 6;
        grid-row: 2;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    .text-canteen-olaf {
        grid-column: 4 / 9;
        grid-row: 3;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
    }

    .text-canteen-kaffelars {
        grid-column: 1 / 6;
        grid-row: 4;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
    }

    .text-2{
        grid-column: 4 / 8;
        grid-row: 2;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .image-canteen-annas {
        grid-column: 6 / 9;
        grid-row: 2;
        margin-top: 3rem;
    }

    .image-canteen-olaf {
        grid-column: 1 / 4;
        grid-row: 3;
        margin-top: 5rem;
    }

    .image-canteen-kaffelars {
        grid-column: 6 / 9;
        grid-row: 4;
        margin-top: 5rem;
    }

    /* Box for the image on the homepage */
    .image-right-homepage {
        grid-column: 5 / 9;
        grid-row: 1;
    }

    .column2 {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .column1 {
        grid-column: 6 / 8;
        grid-row: 1;
    }

    .box-opening-hours {
        background-color: #b2d4da;
        padding-left: 10px;
        border-radius: 15px;
    }

    #photographer-rødt-hus {
        color: gray;
    }
    
    .image-red-house {
        width: minmax(auto, 50vw);
        height: 30vw;
    }

    .image-right-topical {
        grid-column: 6 / 9;
        grid-row: 1;
    }
    
    /* Formating of sources */
    .sources {
        margin-left: 2rem;
        grid-row: 2;
        font-size: 12px;
    }
    footer{
        background-color: #b2d4da;
        padding-top: 1rem;
        padding-right: 12vw;
        padding-left: 12vw;
        padding-bottom: 1rem;
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .footer-1st-content {
        grid-column: 1 / 2;
    }
    .footer-2nd-content {
        grid-column: 2 / 3;
    }
}

/* ---Global CSS--- */

/* Formating of body and font */
body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Formating of h1-elements */
h1 {
    font-size: 3rem;
}

/* Formating of p-elements */
p {
    line-height: 2;
}

/* Colour of active page */
.active {
    color: white;
}

/* Colour of menu items when hovered over */
.menu a:hover {
    color: rgb(227, 227, 227);
}

/* Formating for the hyperlinks in the menu */
.menu a {
    color: black;
    text-decoration: none;
}

/* Photo credit for Annas Spiseri */
#photographer-annas-spiseri {
    color: gray;
    font-size: 12px;
    padding-left: 0.6rem;
}

/* Photo credit for Olaf Spiseri */
#photographer-olaf-spiseri {
    color: gray;
    font-size: 12px;
    padding-left: 0.6rem;
}

/* Photo credit for Kaffelars Kaffebar */
#photographer-kaffelars {
    color: gray;
    font-size: 12px;
    padding-left: 0.6rem;
}

/* Image-formating */
.image {
    max-width: 100%;
    max-height: auto;
}
/* Photo credit for the homepage image */
#photographer-homepage {
    color: gray;
    font-size: 12px;
    padding-left: 0.6rem;
}