@media (max-width: 800px) {     /* Mobile view */

    /* Menu based on sample code for DATA1200: https://github.com/OsloMet-web/DATA1200code/tree/main */
    .menu {
        display: flex;
        position: sticky;
        flex-direction: row;
        justify-content: center;
        align-items: left;
        list-style-type: none;
        height: 200px;
        line-height: 1.6rem;
        padding-top: 0.5rem;
        margin-top: -10px;
        margin-bottom: 0px 
    }

    .menu-icon {
        display: block;
        background-image: url(/img/burger-icon.png);  /* Menu-burger icon created by O.moonstd - Flaticon */
        background-size: cover;
        position: absolute;
        height: 40px;
        width: 40px;
    }

    .hamburger-toggle-container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 40px;
        margin-left: 0px;
        cursor: pointer;
        justify-content: center;
        align-items: left;
    }

    #burger-toggle {
        display: none;
    }

    #burger-toggle + .hamburger-toggle-container {
        margin: 0px;
    }

    .menu > li {
        display: flex;
        overflow: hidden;
        background-color: #3A96A1;
    }

    #burger-toggle ~ .menu li{
        height: 0px;
        margin:  0px;
    }

    #burger-toggle:checked ~ .menu li {
        height: 1rem;
        margin: 0px;
        padding: 0.6rem;
        padding-right: 1rem;
        height: 1.4rem;
    }

    .nav-container {
        background-color: #3A96A1;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        width: auto;
        height: 40px;
        display: flex;
    }

    main {
        margin-left: 2rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: auto, auto;
    }

    #image-p35 {
        grid-row: 1;
        max-width: 100%;
        max-height: auto;
    }

    #photographer-homepage {
        color: gray;
        font-size: 12px;
        padding-left: 0.6rem;
    }

    .sources {
        grid-row: 2;
        font-size: 12px;
    }
}

@media (min-width: 801px) {     /* Desktop view */ 

    /* Menu based on sample code for DATA1200: https://github.com/OsloMet-web/DATA1200code/tree/main */
    .menu {                             
        background-color: #92d2d9;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 12vw;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        margin-top: 0px;
        margin-bottom: 0px
    }

    .menu > li {
        padding-right: 4rem;
    }

    #burger-toggle {
        display: none;
    }

    body {
        background-color: #c99e80;
        
    }

    main {
        background-color: white;
        margin-left: 11vw;
        margin-right: 11vw;
        margin-top: 0px;
    }

    .wrapper {
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .text-topical { 
        grid-column: 1 / 6;
        grid-row: 1;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .text-topical-2 {
        grid-column: 1 / 6;
        grid-row: 2;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .text-homepage{
        grid-column: 1 / 4;
        grid-row: 1;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .text-heading-canteen {
        grid-column: 1 / 9;
        grid-row: 1;
        margin-left: 2rem;
    }
    .text-left-row-2 {
        grid-column: 1 / 6;
        grid-row: 2;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    .text-right-row-3 {
        grid-column: 4 / 9;
        grid-row: 3;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
    }
    .text-left-row-4 {
        grid-column: 1 / 6;
        grid-row: 4;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
    }
    .text-2{
        grid-column: 4 / 8;
        grid-row: 2;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .image-right-row-2 {
        grid-column: 6 / 9;
        grid-row: 2;
        margin-top: 3rem;
    }
    .image-left-row-3 {
        grid-column: 1 / 4;
        grid-row: 3;
        margin-top: 5rem;
    }
    .image-right-row-4 {
        grid-column: 6 / 9;
        grid-row: 4;
        margin-top: 5rem;
    }
    .image-right-homepage {
        grid-column: 4 / 9;
        grid-row: 1;
    }

    .column2 {
        grid-column: 1 / 2;
        grid-row: 2;
    }
    .column1 {
        grid-column: 6 / 8;
        grid-row: 1;
    }

    .box-opening-hours {
        background-color: rgb(209, 233, 241);
        padding-left: 10px;
        border-radius: 15px;
    }

    #image-p35 {
        max-width: 100%;
        max-height: auto;
    }

    #photographer-homepage {
        color: gray;
        font-size: 12px;
        padding-left: 0.6rem;
    }

    #photographer-annas-spiseri {
        color: gray;
        font-size: 12px;
        padding-left: 0.6rem;
    }

    #photographer-olaf-spiseri {
        color: gray;
        font-size: 12px;
        padding-left: 0.6rem;
    }
    #photographer-rødt-hus {
        color: gray;
    }

    .image-annas-spiseri{
        grid-column: 2 / 3;
        grid-row: 1;
        width: minmax(auto, 50vw);
        height: 20vw;
    }
    
    #photographer-kaffelars {
        color: gray;
        font-size: 12px;
        padding-left: 0.6rem;
    }
    .image {
        width: 100%;
    }
    .image-rødt-hus{
        width: minmax(auto, 50vw);
        height: 30vw;
    }

    .sources {
        margin-left: 2rem;
        grid-row: 2;
        font-size: 12px;
    }
}

body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    line-height: 2;
}

.active {
    color: white;
}

.menu a:hover {
    color: rgb(227, 227, 227);
}

.menu a {
    color: black;
    text-decoration: none;
}